bbody {
    margin: 0;
}

.main {
    display: flex;
}

.userPage {
    width: 50%; /* Ширина фиксированного блока */
    height: 100vh; /* Высота фиксированного блока */
    background-color: #fcd7b9;
    position: fixed; /* Фиксируем userPage на экране */
    top: 0; /* Фиксируем от верхнего края */
    left: 0; /* Фиксируем от левого края */
}

.postsLenta {
    background-color: #ffffff;
    width: 50%; /* Ширина, оставшаяся после userPage */
    margin-left: 50%; /* Смещение вправо, чтобы учесть ширину userPage */
    display: flex;
    flex-direction: column; /* Располагает элементы вертикально */
    justify-content: center; /* Выравнивание по вертикали */
    align-items: center; /* Выравнивание по горизонтали */
}
