.post-body {
    display: flex;
    flex-direction: column;
    padding: 4%;
    box-shadow: 15px 15px 10px rgba(95, 95, 95, 0.71);
    padding-bottom: 10%;
    background-color: rgb(255, 255, 255);
    margin: 2%;
    max-width: 70%; /* Ограничиваем ширину, чтобы оставался отступ */
    width: 100%; /* Ширина для небольших экранов */
    box-sizing: border-box; /* Гарантируем, что padding включается в ширину */
}

img {
    object-fit: cover; /* Картинка заполняет контейнер, сохраняя пропорции */
    max-width: 100%; /* Изображение адаптируется к контейнеру */
    height: auto; /* Автоматически сохраняется пропорция */
    position: relative;
}

.text{
    position: absolute; /* Абсолютное позиционирование относительно контейнера */
    top: 50%; /* Центрирование по вертикали */
    left: 50%; /* Центрирование по горизонтали */
    transform: translate(-50%, -50%); /* Коррекция смещения для точного центрирования */
    color: white; /* Цвет текста */
}