

.post-body {
    display: flex;
    flex-direction: column; /* Указываем расположение элементов по вертикали */
    /*justify-content: center;  Выравниваем элементы по вертикали (вверх контейнера) */
    height: 80vh;
    width: 70vh;
    background-color:#ffffff;
    padding: 25px;   
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-top: 30px;
}

.img-content{
    height: 60%;
    padding: 10 0 10 0;
    overflow: hidden;
}

.img-content img {
    width: 100%; /* Подстраивает ширину изображения под контейнер */
    height: 100%; /* Подстраивает высоту изображения под контейнер */
    object-fit: cover; /* Картинка заполняет контейнер, сохраняя пропорции */
}

.content{
    height: 20%;
    padding: 10px;
}

.button-content{
    margin: 3%;
}

